extends:
  - "@commitlint/config-conventional"
rules:
  type-enum:
    - 2
    - always
    - [feat, fix, chore, docs, style, refactor, test, perf, revert]
  subject-case:
    - 2
    - always
    - sentence-case
